
/* 
.custom-tabs .nav-tabs {
  border-bottom: none !important;
}

.custom-tabs .nav-link {
  border: none !important;
  color: #6c757d;
  position: relative;
}

.custom-tabs .nav-link.active {
  color: var(--bs-primary) !important;
  background: transparent !important;
  border: none !important;
}

.custom-tabs .nav-link.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  width: 80%;
  height: 3px;
  background-color: var(--bs-success);
}


.nav-pills .nav-link.active {
  background-color: var(--bs-transparent) !important; 
  color: var(--bs-primary) !important;
}

.nav-pills .nav-link {
  
  color: var(--bs-secondary) !important;
}


 */






/* 1. List item ichidagi hamma narsa tashqariga chiqa olishi kerak */
.list-group-item {
  overflow: visible !important;
  z-index: auto !important;
}

/* 2. ListGroup o'zi ham menyuni to'smasligi kerak */
.list-group {
  overflow: visible !important;
}

/* 3. Dropdown menyu har doim hamma narsadan ustun turishi uchun */
.my-dropdown {
  z-index: 9999 !important;
  position: absolute !important;
}
